body{
    background-color: rgb(196, 235, 222);
}
.one{
    background-color: rgb(196, 235, 222);
    padding: 1% 10% 0% 10%;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
}
#logo{
    color: rgb(2, 2, 37);
}
#dot{
    color: rgb(16, 89, 150);
}
nav div{
    margin-left: 50%;
    
    margin: 2% 0% 0% 40%;
}
a{
    text-decoration: none;
    color: rgb(3, 3, 39);
    padding-left: 40px;  
}
hr{
    width: 50px;
    font-weight: bolder;

}
.line{
    display: flex;
    color: orange;
    font-weight: bolder;
}
.main h1{
    font-size: 45px;
}
.main p{
    font-size: 20px;
    padding-bottom: 10%;
}
.main button{
    width: 160px;
    height: 40px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5%;
    background-color: rgb(15, 161, 230);
}
.main span{
    border-radius: 50%;
    padding: 3.5%;
    background-color: white;
    color: blue;
    margin-left: 10%;
    box-shadow:2px 2px 10px rgb(15, 161, 230);
}
.main{
    width: 50%;
}
.picture{
    border: solid 60px rgb(183, 221, 210);
    border-radius: 50%;
    width: 34%;
    height: 350px;
    /* padding-bottom: 20px; */
}
.picture img{
    width: 400px;
    height: 400px;
    /* background-color: blue; */
    margin-left: -12%;
    margin-top: -5%;
    /* margin-bottom: 15%; */
}
.container{
    display: flex;
}

.two{
    background-color: rgb(235, 247, 243);
    padding: 6% 10% 0% 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.title h1{
    font-size: 35px;
    
}
.title{
    display: flex;
}
.title p{
    max-width: 33%;
    margin: 4% 0% 0% 30%;
    color: rgb(9, 9, 117);

}
.service span{
    color: rgb(18, 185, 236);
    font-size: 20px;
    padding: 20px;
    border-radius: 50%;
    background-color: rgb(235, 247, 243);
}
.service{
    background-color: white;
    max-width: 25%;
    padding: 45px 25px;
    margin: 7% 3% 0% 0%;
}
.service p{
    color: rgb(47, 9, 117);
}
.service-type1{
    display: flex;
}
.service-type2{
    display: flex;
    padding-bottom: 10%;
}
.three{
    background-color: rgb(196, 235, 222);
    padding: 7% 10% 0% 10%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    max-height: 400px;
}
.description button{
    width: 160px;
    height: 40px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius:7%;
    background-color: rgb(15, 161, 230);
}
.description h1{
    font-size: 35px;
}
.description p{
    color: rgb(9, 9, 117);
}
  
.image img{
    max-width: 250px;
    height: 400px;
    padding: 15% 15% 0% 15%;
    border-radius: 5%;
    background-color: rgb(200, 221, 231);

}
.description{
    max-width: 45%;
    margin-left: 20%;

}
.four{
    background-color: rgb(235, 247, 243);
    /* padding: 6% 10% 0% 10%; */
    font-family: Arial, Helvetica, sans-serif;
}
.title2 h1{
    font-size: 35px;
    
}
.title2{
    display: flex;
    padding: 6% 10% 0% 10%; 
}
.title2 p{
    max-width: 30%;
    margin: 4% 0% 0% 25%;
    color: rgb(28, 28, 129);
}
#quote1{
    font-size: 50px;
    color: rgb(200, 228, 228);
}
#quote2{
    font-size: 50px;
    color: rgb(200, 228, 228);
}
.comment h3{
    font-size: 18px;
}
.comment p{
    color: rgb(28, 28, 129);
}
.comment span{
    padding-right: 10px;
    color: yellow;
}
.small-image{
    width: 70px;
    height:70px;
    border-radius: 50%;
    margin-top: 1%;
}
.name{
    font-weight: bolder;
}
.small{
    display: flex;
}
.view{
    display: flex;
}
.view p{
    margin-left: 40%;
    font-weight: bold;
    color: rgb(7, 199, 189);
}
#comment1{
    width:29%;
    background-color: white;
    padding: 5% 10% 2% 10%;
}
#comment2{
    width:29%;
    background-color: white;
    padding: 5% 10% 2% 10%;
    margin-left: 3%;
}

.comments{
    display: flex;
}
.five{
    background-color: rgb(235, 247, 243);
    padding: 5% 10% 0% 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.title3{
    display: flex;
    /* padding: 6% 10% 0% 10%;  */
}
.title3 h1{
    font-size: 35px;
    
}
.title3 span{
    margin: 4.5% 0% 0% 39.9%;
    color: rgb(10, 188, 233);
}
.pictures{
    display: flex;
    
}
.doctor{
    margin-right: 10%;
    margin-top: 5%;
}
.doctor p{
    color: rgb(37, 14, 100);
}
.doctor img{
    border-radius: 5%;
}
#one img{
    background-color: rgb(235, 225, 235);
}
#two img{
    background-color: rgb(205, 240, 238);
}
#three img{
    background-color: rgb(238, 232, 218);

}
.subscribe h1{
    font-size: 40px;
    margin-left: 12%;
}
.subscribe p{
    background-color: white;
    box-shadow: 10px 10px 30px rgb(92, 233, 243);
    width: 620px;
    border-radius: 7%;
}
.subscribe input{
    width: 450px;
    height: 70px;
    font-size: 20px;
    border: none;
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
    
}
.subscribe button{
    width: 160px;
    height: 62px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: rgb(15, 161, 230);
    border-radius: 7%;
}
.subscribe{
    background-color: rgb(196, 235, 222);
    padding: 5% 0% 5% 15%;
    border-radius: 3%;
    margin-top: 10%;
}
footer{
    padding: 5% 10% 0% 10%;
    background-color: rgb(235, 247, 243);
}
.about-us{
    display: flex;
    

}
.about{
    margin-right: 21%;
    /* padding-right: 15%; */
}
#facebook{
    font-size: 14px;
    padding: 3px 7px 3px 7px;
    color: white;
    border-radius: 50%;
    background-color: blue;
}
#twitter{
    font-size: 14px;
    padding: 3px 5px 3px 5px;
    color: white;
    border-radius: 50%;
    background-color: rgb(66, 215, 226);
}
#google{
    font-size: 14px;
    padding: 3px 3px 3px 3px;
    color: white;
    border-radius: 50%;
    background-color: red;
}
#linkedin{
    font-size: 14px;
    padding: 3px 5px 3px 5px;
    color: white;
    border-radius: 50%;
    background-color: rgb(7, 86, 133);
}